{% extends 'base.html' %}
{% load static %}

{% block content %}
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Checkout
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4>Your shopping cart contains:
					<span>{{total_product}} Products</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
							
								<th>Product</th>
								<th>Product Name</th>
								<th>Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>

							{% for i in cart_data %}

							<tr class="rem1">
								
								<td class="invert-image">
									<a href="single2.html">
										<img src="{{i.product.pic.url}}" alt=" " style="max-width: 50px; max-height: 50px;" class="img-responsive">
									</a>
								</td>
								
								<td class="invert">{{i.product.name}}</td>
								<td class="invert">₹{{i.product.price}}</td>
								<td class="invert">
									<button><a href="{% url 'del_cart_row' i.id %}" >Delete</a></button>
								</td>
							</tr>
							
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="checkout-left">
				<h4>Amount to Pay:
				<p style="color: blue;" ><b>₹{{total_amount}}</b></p>
			</h4>
				<div class="address_form_agile">
					
					
					<div class="checkout-right-basket">
						<a href="{% url 'start_payment' %}">Make a Payment
							<span class="fa fa-hand-o-right" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
	<!-- newsletter -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="col-xs-8 agile-leftmk">
				<h2>Get your Groceries delivered from local stores</h2>
				<p>Free Delivery on your first order!</p>
				<form action="#" method="post">
					<input type="email" placeholder="E-mail" name="email" required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="newsform-w3l">
					<span class="fa fa-envelope-o" aria-hidden="true"></span>
				</div>
			</div>
			<div class="col-xs-4 w3l-rightmk">
				<img src="{% static 'images/tab3.png' %}" alt=" ">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- footer -->
{% endblock %}	